*{
    margin:0;
}
body{
    font-family: 'Lato', sans-serif;
    /*font-family: 'Oswald', sans-serif;*/
    color:#333;
    box-sizing:border-box;
    line-height: 1.6em;
}
a{
    text-decoration:none;
}
.container{
    max-width:900px;
    width:90%;
    margin:auto;
}
header{
    text-align:center;
}
nav{
    background-color: #00BEE8;
}
nav a{
    color:white;
    line-height: 40px;
}
h1{
    font-size:3rem;
    color:#40CCEA;
    word-spacing:10px;
    border-bottom:1px dotted #40CCEA;
    text-align:center;
    margin:auto;
    width:90%;
    padding-bottom:20px;
    margin-top:30px;
}
h2{
    font-size:1.6rem;
    line-height:50px;
}
h3{
    font-size:1.4rem;
    line-height: 70px;
}
section{
    padding:20px 0px;
}
#travel img, .text{
    width:49%;
}
#travel p{
    padding-bottom:15px;
}
#travel a{
    color:white;
    background-color:#0096D0;
    border-radius:5px;
    padding:7px;
    line-height: 50px;
}
#destination h2{
    padding-bottom:20px;
}

table{
    width:100%;
    border-collapse:collapse;
}
td, th{
    padding:10px;
    border:1px solid grey;
}
tr:nth-child(even){
    background-color: #EEEEEE;
}

#about {
    background-image: url("../img/fond.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:100%;
    padding: 40px 0px;
}
#about h2{
    width:47%;
    background: white;
    padding-top:30px;
    padding-bottom:15px;
    padding-left:15px;
    padding-right:15px;
}
#about p{
    width:47%;
    background: white;
    padding:15px 15px;
    padding-bottom:15px;
}
address{
    margin-bottom:20px;
}

form {
    padding:30px 0px;
    background-image: url(../img/dotted_earth.jpg);
    background-position:center;
    background-size:90%;
}
.display{
    margin:auto;
    display:flex;
}
input, textarea{
    width:100%;
    border-radius: 5px;
}
textarea{
    height:150px;
}
input{
    height:30px;
}
.button{
    text-align:center;
    padding-top:20px;
}
button{
    background-color: #0096D0;
    padding:10px;
    color:white;
    border-radius:7px;
}
.information,
.message{
    width:49%;
}
.flex_information{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding:0px 20px;
}
.data{
    width:100%;
    padding:10px;
}

.display1{
    display:flex;
    justify-content:space-around;
    padding-left:33%;
    padding-right:33%;
}
.display2{
    display:flex;
    justify-content:space-between;
}
hr{
    margin:20px 0px;
}
.italic{
    font-style: italic;
}
.left{
    float:left;
}
.right{
    float:right;
}
.blue a{
    color:#00BEE8;
}

.facebook{
    font-size:1.5em;
    color:#4267B2;
}
.twitter{
    font-size:1.5em;
    color:#1DA1F2;
}
.pinterest{
    font-size:1.5em;
    color:#BD081C;
}
.instagram{
    font-size:1.5em;
    color:#8948C1;
}
footer{
    background: #00BEE8;
    text-align:center;
    padding-top:20px;
    color:white;
}
footer a{
    color:white;
}
footer img{
    height:60px;
}